* {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
  }

.text-black{
  color: black;
}

#scrollbtn {
  font-size: 0.5em;
  z-index: 10; 
  position: absolute; 
  top: 85vh;
}

.bg-header{
    background-color:#3182D7;
}

.bg-footer{
    background-color: #1F5BAD;
}

.bg-card{
    background-color: #2065C5;
}

.btn-header{
    display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn-header {
    transition: none;
  }
}

.btn-warning-custom {
    color: white;
    background-color: #ffc107;
    border-color: #ffc107;
  }

.btn-warning-custom:focus, .btn-warning-custom.focus {
    color: #212529;
    background-color: #ffd65c;
    border-color: #ffd65c;
    box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-warning-custom:hover {
    color: white;
    background-color: #ffd65c;
    border-color: #ffd65c;
  }

.btn-white {
    color: grey;
    background-color: white;
    border-color: white;
}

.seksi-peta {
    background-image: url(../images/bg_peta.png);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.vertikal {
    font-family: "Noto Sans JP", sans-serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    line-height: 4.5vh;
    margin-top: 16vh;
    font-size: 2vh;
}

.tebal {
    margin-top: 13vh;
    font-weight: 700;
    font-size: 3vh;
    letter-spacing: 0.3vh;
}

.highlight {
    height: 10;
    background: linear-gradient(90deg, #ec9700 50%, transparent 50%);
}

.seksi-special {
    background-image: url(../images/bg_special.png);
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vh;
    margin-top: 10vh;
}

.seksi-special p {
  margin-bottom: 0;
  margin-top: 1vh;
}
.seksi-special h1 {
  font-size: 7vmax;
  font-weight: 600;
}
.strip-special {
  width: 1vw;
  height: 1.2vh;
  background-color: black;
  margin-bottom: 10vh;
}

#special-link:hover #special-btn {
  background-color: #333;
  color: #fff;
}

#special-link:hover .left-content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/icon_special1.png);
}

#special-link:hover .right-content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/icon_special2.png);
}

.btn-special {
  height: 3em; 
  position: relative;
  bottom: 48px;
}

@media (max-width: 960px) {
    #generate-section-3,
    .seksi-peta {
      background-image: none !important;
    }
    #generate-section-3,
    .seksi-special {
      background-image: none !important;
    }
    #generate-section-3,
    .seksi-work {
      background-image: none !important;
    }
}

.box {
  width: 50%;
  height: 14%;
  margin-top: auto;
}

.blackbox {
  color: white;
  background-color: #333333;
}

.whitebox {
  color: black;
  background-color: white;
}

.content {
  display: flex;
  width: 88vh;
  height: 62vh;
  background-size: cover;
}

.left-content {
  background-image: url(../images/icon_special1.png);
}

.right-content {
  background-image: url(../images/icon_special2.png);
}

.seksi-company {
  background-image: url(../images/bg_company.png);
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vh;
  margin-top: 5vh;
}

.seksi-company h1 {
  font-size: 7vmax;
  font-weight: 600;
}

.seksi-company p {
  margin-bottom: 0;
  margin-top: 1vh;
}

.comp-logo {
  display: flex;
  width: 60vh;
  background-size: cover;
  background-position: center;
  height: 45vh;
  background-image: url(../images/icon_kontenlogo.png);
}

.comp-gedung {
  background-image: url(../images/icon_gedung.png);
}

.seksi-work {
  background-image: url(../images/bg_work.png);
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vh;
  margin-top: 10vh;
}

.seksi-work p {
  margin-bottom: 0;
  margin-top: 1vh;
}

.seksi-work h1 {
  font-size: 7vmax;
  font-weight: 600;
}

.left-work {
  background-image: url(../images/img_work1.png);
}

.right-work {
  background-image: url(../images/img_work2.png);
}

#work-link:hover #work-btn {
  background-color: #333;
  color: #fff;
}

#work-link:hover .left-work {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/img_work1.png);
}

#work-link:hover .right-work {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/img_work2.png);
}

.btn-work {
  height: 3em; 
  position: relative;
  bottom: 50px;
}

.seksi-recruit {
  background-image: url(../images/bg_recruit.png);
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vh;
  margin-top: 10vh;
}

.seksi-recruit p {
  margin-bottom: 0;
  margin-top: 1vh;
}

.seksi-recruit h1 {
  font-size: 7vmax;
  font-weight: 600;
}

.btn-recruit{
  width: 60%;
  position: relative;
  right: 0;
}

.btn-recruit:hover{
  color:white;
  background-color: black;
}

.topbutton{
  position: relative;
  top: 350px;  
}

.toplink{
  color:#2065c5;
}

.toplink:hover{
  color:#4a79b9;
}

ul {
    margin-left: 0px;
  }
  ul.dashed {
    list-style-type: none;
  }
  ul.dashed > li {
    text-indent: -5px;
  }
  ul.dashed > li:before {
    content: "-";
    text-indent: -5px;
  }